<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GPUImage_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9EAB2A6A1DBEF5870024456D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EAB2A831DBEF5880024456D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9EAB2A8E1DBEF5880024456D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
